<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="by.pinchuk.dao.addresses.IAddress">

	<resultMap id="address" type="by.pinchuk.table.addresses.Address">
		<id column="id" property="id"/>
		<association property="country" resultMap="country"/>
		<association property="city" resultMap="city"/>
		<association property="street" resultMap="street"/>
	</resultMap>
	
	<resultMap id="country" type="by.pinchuk.table.addresses.Country">
		<id column="countries_id" property="id"/>
		<result column="country_name" property="countryName"/>
		<result column="fare" property="fare"/>
		<result column="road_quality" property="roadQuality"/>
	</resultMap>
	
	<resultMap id="city" type="by.pinchuk.table.addresses.City">
		<id column="cities_id" property="id"/>
		<result column="cities_name" property="cityName"/>
	</resultMap>
	
	<resultMap id="street" type="by.pinchuk.table.addresses.Street">
		<id column="streets_id" property="id"/>
		<result column="street_name" property="streetName"/>
	</resultMap>
	
	<select id="allAddresses" resultMap="address">
	   SELECT * FROM adresses adr LEFT JOIN countries c ON adr.countries_id = c.id LEFT JOIN cities ct ON adr.cities_id = ct.id LEFT JOIN streets s ON adr.streets_id = s.id
    </select>
	
	
	<select id="selectById" parameterType="string" resultMap="address">
	   SELECT * FROM adresses adr LEFT JOIN countries c ON adr.countries_id = c.id LEFT JOIN cities ct ON adr.cities_id = ct.id LEFT JOIN streets s ON adr.streets_id = s.id WHERE adr.id = #{Adresses_id}
    </select>
    
</mapper>     