<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="by.pinchuk.dao.company.ICompany">



	<resultMap id="company" type="by.pinchuk.table.company.Company">

		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="reg_number" property="regNumber"/>
		
		<association 
			property="address" 
			column="address_id" 
			javaType="by.pinchuk.table.addresses.Address" 
			select="by.pinchuk.dao.addresses.IAddress.selectById"/>
		
		<collection 
			property="tracks"
			column="id"
			javaType="ArrayList"
			ofType="by.pinchuk.table.company.Consignee"
			select="by.pinchuk.dao.transport.ITrack.allTrack"
		/>
		
		<collection 
			property="logistican"
			column="id"
			javaType="ArrayList"
			ofType="by.pinchuk.table.people.Logistician"
			select="by.pinchuk.dao.people.ILogistician.allLogistician"
		/>
		
		<collection 
			property="driver"
			column="id"
			javaType="ArrayList"
			ofType="by.pinchuk.table.people.Driver"
			select="by.pinchuk.dao.people.IDriver.allDrivers"
		/>
		
	</resultMap>

	<select id="allCompany" resultMap="company">
        SELECT * FROM mydb.сompanies
    </select>
    
    <select id="selectById" parameterType="java.lang.Long" resultMap="company">
        SELECT * FROM mydb.сompanies WHERE id= #{id}
    </select>
    
    <delete id="deleteById" parameterType="java.lang.Long">
    	DELETE FROM сompanies WHERE id = #{id}
    </delete>
    
</mapper>        