<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="by.pinchuk.dao.company.IShipper">



	<resultMap id="shipper" type="by.pinchuk.table.company.Shipper">

		<id column="id" property="id"/>
		<result column="shipper_name" property="shipperName"/>
		<result column="phone_number" property="phoneNumber"/>
		<association 
			property="address" 
			column="Adresses_id" 
			javaType="by.pinchuk.table.addresses.Address" 
			select="resources.mappers.AddressMapper.selectById"/>
	</resultMap>
	
	<select id="allShipper" resultMap="shipper">
        SELECT * FROM Shipper
    </select>
    
    <select id="selectById" parameterType="java.lang.Long" resultMap="shipper">
		SELECT * FROM Shipper WHERE id = #{id}
    </select>
    
    <select id="getShipperByLogistID" parameterType="java.lang.Long" resultMap="shipper">
    	SELECT s.id, s.shipper_name, s.phone_number, s.Adresses_id FROM shipper_has_logisticians shl LEFT JOIN shipper s ON shl.Shipper_id = s.id WHERE shl.Logisticians_id = #{id}
    </select>
    
    
</mapper>       