<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
	<properties resource="database.properties"> 
    </properties> 
	
	<environments default="stag">
		<environment id="stag"> 
			<transactionManager type="JDBC"/> 
			<dataSource type="POOLED"> 
				<property name="driver" value="${driver}"/> 
                <property name="url" value="${url}"/> 
                <property name="username" value="${user}"/> 
                <property name="password" value="${password}"/> 
			</dataSource> 
		</environment> 
	</environments> 
	<mappers>
		<mapper resource="mappers/AddressMapper.xml"/>
		<mapper resource="mappers/CheckFareMapper.xml"/>
		<mapper resource="mappers/CompanyMapper.xml"/>
		<mapper resource="mappers/ConsigneeMapper.xml"/>
		<mapper resource="mappers/CountryMapper.xml"/>
		<mapper resource="mappers/CustomMapper.xml"/>
		<mapper resource="mappers/DriverMapper.xml"/>
		<mapper resource="mappers/LogisticianMapper.xml"/>
		<mapper resource="mappers/RepairPriceMapper.xml"/>
		<mapper resource="mappers/ServiceMapper.xml"/>
		<mapper resource="mappers/ShipperMapper.xml"/>
		<mapper resource="mappers/TrackMapper.xml"/>
	</mappers>
</configuration> 