<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="by.pinchuk.dao.company.IConsignee">



	<resultMap id="consignee" type="by.pinchuk.table.company.Consignee">

		<id column="id" property="id"/>
		<result column="consignee_name" property="consigneeName"/>
		<result column="phone_number" property="phoneNumber"/>
		<association 
			property="address" 
			column="Adresses_id" 
			javaType="by.pinchuk.table.addresses.Address" 
			select="by.pinchuk.xml.AddressMapper.selectById"/>
	</resultMap>
	
	<select id="allConsignee" resultMap="consignee">
        SELECT * FROM mydb.consignee
    </select>
    
    <select id="selectById" parameterType="java.lang.Long" resultMap="consignee">
        SELECT * FROM mydb.consignee WHERE id=#{id}
    </select>
    
    <select id="getConsigneeByLogistID" parameterType="java.lang.Long" resultMap="consignee">
    	SELECT c.id, c.consignee_name, c.phone_number, c.Adresses_id FROM consignee_has_logisticians chl LEFT JOIN consignee c ON chl.Consignee_id = c.id WHERE chl.Logisticians_id = 1;
    </select>
    

</mapper>        